@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mulish', serif;
    text-decoration: none;
}
body{
    background-color: #f3f5d2;
}
header{
    display: flex;
    padding: 10px;
    background-color: #eaecca;
}
header img{
    margin-left: 70px;
}
nav{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 45px;
    font-weight: 700;
    border: none;
}
nav p{
    padding: 10px;
    border-radius: 50px;
    background-color: #254051;
    color: white;

}
nav p:hover{
    background-color: #33586e;
    color: #f3f5d2;
}
nav p{
    box-shadow: 0px 5px #2f5064;
}
nav p:active{
    transform: translateY(3px);
    box-shadow: 0px 3px #34576e;
}

a:visited{
    color: #234054;
}
section{
    display: inline-block;
    margin-bottom: 90px;
}
section img{
    display: inline-block;
    margin-bottom: 135px;
    align-items: center;
    width: 663px;
    margin-left: 70px;
}
section p{
    display: inline-block;
    font-size: 24px;
    width: 676px;
    text-align: center;
    font-weight: 500;
    color: #234054;
    line-height: 40px;
    margin-left: 200px;
    margin-top: 50px;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eaecca;
    padding: 10px;
    text-align: center;
}
footer p{
    display: flex;
    align-items: center;
    color: #234054;
}
footer img{
    display: inline-block;
    align-items: center;
}

@media only screen and (min-width: 360px) and (max-width: 414px) and (orientation: portrait) {
    body {
        font-size: 15px;
        margin: 10px;
    }
    header, footer {
        padding: 10px;
    }
    header img{
        margin-left: -10px;
    }
    img {
        max-width: 33%;
        height: 200px;
        margin-bottom: 22px;
    }
    section p{
        width: 373px;
        line-height: 25px;
        margin-left: 11px;
        font-size: 15px;
        text-align: center;
    }
}

